<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}
    Login – Eshop
{% endblock %}
{% block content %}
    <h2>Please log in</h2>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'Login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" class="btn btn-primary" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>
    <p>Do not have an account? <a href="{% url "Sign Up" %}">Sign Up Now!</a></p>
{% endblock %}